<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="edu.sm.app.repository.BurgerRepository">

    <resultMap id="BurgerMap" type="edu.sm.app.dto.Burger">
        <id     property="shopId"   column="target"/>
        <result property="name"     column="title"/>
        <result property="img"      column="img"/>
        <result property="lat"      column="lat"/>
        <result property="lng"      column="lng"/>
        <result property="loc"      column="loc"/>
        <result property="info"     column="info"/>
        <result property="distance" column="distance"/>
    </resultMap>

    <select id="selectAll" resultMap="BurgerMap">
        SELECT target, title, img, lat, lng, loc, info, distance
        FROM map
        ORDER BY target
    </select>
</mapper>
